SERVER_MOTD=server_motd         #Message of the Day
SERVER_DIFFICULTY=difficulty    #peaceful, easy, normal, hard
SERVER_GAMEMODE=gamemode        #survival, creative, adventure, spectator
SERVER_MAX_PLAYERS=max_players  #1-20
SERVER_PVP=pvp_status           #on, off